html {
    scroll-behavior: smooth;
}

@media (max-width:800px){
.section#contacts{
    width: 100%;
    float: nones}
}
    
@media (max-width:800px){
.section#summary{
width: 100%;
float: none;}
}

@media (max-width:800px){
    .section#skills{
    width: 100%;
    float: none;}
}
        

@media (max-width:800px){
    .section#experience{
    width: 100%;
    float: none;}
}


* {
    box-sizing: border-box;
}

.header {
    background: rgb(237, 238, 229);
    background: linear-gradient(0deg, rgba(212,214,161,0.528470763305322) -17%, rgba(85,107,47) 100%);
}

.header-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}
.nav-list {
    display:flex;
    justify-content:space-around;
    align-items:normal;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer
}

.nav-item a {
    color: #f5f8f5;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-item a:hover {
    color: #010101;
}

.profile-container {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    padding: 5%;

}

.info-section {
    text-align: left;
    align-content: center;
    width: 50%;
    height: 50%;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
}

.photo-section {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;

}
.photo {
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.top-line {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-left: 10%;
    margin-right: 10%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0; padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #020202;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    
    margin-left: 10%;
    margin-right: 10%;
}

.section {
    width: 50%;
}


.section-title{
    text-align:left;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(85, 107, 47)

}

.section-text {
    text-align:left;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: #000000;
    text-indent: 20px;
}
h5#skill {
    margin-bottom: 1em;
    text-align:left;
}

.skills-flex-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.skill#skill {
    width: 50%
    
}

ul#skill-mark {
    padding: 0;
    margin-left: 15px;
    margin-bottom: 0;
    margin-top: 0;
    
}

.flex-wrapper-cont {
    display: flex;
    flex-wrap: wrap;
}

h5#cont {
    width: 50%;
}

ul#cont-mark {
    padding: 0;
    margin-left: 15px;
    margin-bottom: 0;
    margin-top: 0;

}

h5#cont {
    text-align:left;
}

.section-line {
	padding: 0;
	height: 6px;
	border: none;
	background: linear-gradient(45deg, #333, #ddd);
    margin-left: 10%;
    margin-right: 10%; 
 }
    
.section-line-short{
        padding: 0;
        height: 6px;
        border: none;
        background: linear-gradient(45deg, #333, #ddd);
        margin-right: 5%; 
}
.section-text {
    display:contents;
}

.section#summary {
    vertical-align: middle
}