html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

.header {
    background: rgb(212,214,161);
    background: linear-gradient(0deg, rgba(212,214,161,0.528470763305322) -17%, rgba(167,154,22,1) 100%);
}

.header-container {
    display: flex;
    justify-content: flex-end;
}
.nav-list {
    display:flex;
    justify-content:space-around;
    align-items:normal;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer
}

.nav-item a {
    color: #1b1d1b;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-item a:hover {
    color: #dde5d7;
}

.profile-container {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    padding: 5%;

}

.info-section {
    text-align: center;
    align-content: center;
    width: 50%;
    height: 50%;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
}

.photo-section {
    width: 132px;
    height: 132px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;

}
.photo {
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.top-line {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-left: 10%;
    margin-right: 10%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0; padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #020202;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

.section {
    width: 50%;
}


.section-title{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
}

.section-text {
    text-align:justify;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: #000000;
}
